<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <title>Simm Creative</title>
  </head>
  <body>
    <div class="hero">
      <div class="left-nav">
        <div class="social">
          <h4 class="red">Also Find Me On</h4>
          <h4 class="middle">Behance</h4>
          <h4 class="bottom">LinkedIn</h4>
        </div>
        <div class="title">
          <h4>Simmeyon</h4>
          <h4 class="last">Strickland</h4>
        </div>
      </div>
      <!-- Next Section -->
      <div class="logo">
        <div class="hello">
          <h3 class="top">Hello!</h3>
          <h3 class="bottom">I Am Creative</h3>
        </div>
        <div class="image">
          <img src="./homepage-assets/name-plate.png" alt="">
        </div>
        <div class="designer">
          <h3 class="top">A UX&UI Designer</h3>
          <h3 class="bottom">Living In Atlanta, GA.</h3>
        </div>
      </div>
    </div>



  </body>
</html>
