* {
  --h4-font-size: 18px;
}
body {
  margin: 0 auto;
}
// Globals
h3 {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
// Variables

.hero {
  display: grid;
  height: 100vh;
  background-image: url("./homepage-assets/simm-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .left-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: 60px auto 0 auto;
    .social {
      h4 {
        font-family: "Raleway";
        font-size: var(--h4-font-size);
        font-weight: 400;
        text-transform: uppercase;
        padding-top: 0;
      }
      .red {
        color: #fe2400;
        margin: 0;
      }

      .middle {
        margin: 16px 0;
      }
      .bottom {
        margin-top: 0;
      }
    }
    .title {
      margin: 0 auto;
      h4 {
        font-family: "Raleway";
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto;
      }
      .last {
        padding-top: 10px;
      }
    }
  }
  .logo {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto 0 auto;
    grid-template-areas: "one";
    .hello {
      grid-area: one;
      margin: 0 auto 0 0;
      z-index: 99;
      .top {
        margin-bottom: 0;
        margin-left: 370px;
      }
      .bottom {
        margin-top: 0;
        margin-left: 400px;
      }
    }
    .image {
      width: 900px;
      grid-area: one;
      img {
        width: 900px;
      }
    }
    .designer {
      grid-area: one;
      display: grid;
      margin: auto auto 0 auto;
      padding-bottom: 100px;

      .top {
        margin-bottom: 0;
        margin-left: 320px;
      }
      .bottom {
        margin-top: 0;
        margin-left: 200px;
      }
    }
  }
}
