* {
  --h4-font-size: 18px;
}

body {
  margin: 0 auto;
}

h3 {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.hero {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  background-image: url("./homepage-assets/simm-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .left-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: 60px auto 0 auto;
}

.hero .left-nav .social h4 {
  font-family: "Raleway";
  font-size: var(--h4-font-size);
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 0;
}

.hero .left-nav .social .red {
  color: #fe2400;
  margin: 0;
}

.hero .left-nav .social .middle {
  margin: 16px 0;
}

.hero .left-nav .social .bottom {
  margin-top: 0;
}

.hero .left-nav .title {
  margin: 0 auto;
}

.hero .left-nav .title h4 {
  font-family: "Raleway";
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.hero .left-nav .title .last {
  padding-top: 10px;
}

.hero .logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 0 auto 0 auto;
      grid-template-areas: "one";
}

.hero .logo .hello {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  margin: 0 auto 0 0;
  z-index: 99;
}

.hero .logo .hello .top {
  margin-bottom: 0;
  margin-left: 370px;
}

.hero .logo .hello .bottom {
  margin-top: 0;
  margin-left: 400px;
}

.hero .logo .image {
  width: 900px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.hero .logo .image img {
  width: 900px;
}

.hero .logo .designer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  display: -ms-grid;
  display: grid;
  margin: auto auto 0 auto;
  padding-bottom: 100px;
}

.hero .logo .designer .top {
  margin-bottom: 0;
  margin-left: 320px;
}

.hero .logo .designer .bottom {
  margin-top: 0;
  margin-left: 200px;
}
/*# sourceMappingURL=style.css.map */